%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 4.5rem;
    color: $color-dark;
    line-height: 1;
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;

    &--light {
        color: $primary-color;
    }

    &--dark {
        color: $color-dark;
    }
}

.heading-3 {
    @extend %heading;
    font-size: 1.6rem;
    color: $primary-color;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    font-size: 1.5rem;
    color: $color-dark;
}