@font-face {
    font-family: 'Lacuna Regular';
    src: url("../../assets/fontface/Lacuna-Regular-fontfacekit/web fonts/lacuna_regular_macroman/lacuna-webfont.woff");
    font-weight: 400;
}

@font-face {
    font-family: 'Lacuna Regular Italic';
    src: url("../../assets/fontface/Lacuna-Regular-fontfacekit/web fonts/lacuna_italic_macroman/lacuna-italic-webfont.woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'League Gothic';
    src: url("../../assets/fontface/league-gothic-master/webfonts/leaguegothic-condensed-regular-webfont.woff");
    font-weight: 400;
}