// FONT VARIABLES
$font-primary: 'Lacuna Regular', sans-serif;
$font-display: 'League Gothic', sans-serif;

// COLORS
$primary-color: #e4bc01;
$secondary-color: #3a0a1d;

$color-dark: #2d2b2b;

$font-color: #eaeaea;

$quoteColor: #616161;


// RESPONSIVE BREAKPOINTS
$bp-largest: 1200px; 
$bp-large: 889px; 
$bp-medium: 768px; 
$bp-small: 600px; 
$bp-XSsmall: 595px; 